// Must be the first import
@import 'dependencies';
@import 'common/common';
@import 'common/palette';
@import 'common/colors';
@import 'common/font';
@import 'sprites';

// Typography
@import 'typography/headings';
@import 'elements/labels';
@import 'elements/links';

// Buttons
@import 'elements/buttons';

// Tables
@import 'tables/table';
@import 'tables/fixed-header-table';
@import 'tables/table-actions';

// Controls
@import 'controls/checkboxes';
@import 'controls/collapsable';
@import 'controls/datepicker';
@import 'controls/dropdown';
@import 'controls/filterBox';
@import 'controls/inputs';
@import 'controls/inputSlider';
@import 'controls/numericSpinner';
@import 'controls/slideToggle';
@import 'controls/slideToggleDouble';

// Components
.coveo-admin {
  @import 'components/header';
  @import 'components/member';
  @import 'components/menu';
}

// Forms
@import 'forms/forms';
@import 'forms/table-form';
@import 'forms/block-form';
@import 'forms/flex-form';
