.coveo-filter-container {
  position: relative;

  width: 336px;

  .filter-icon {
    position: absolute;
    top: 8px;
    right: 20px;

    display: none;

    cursor: default;
  }

  input.filter-box {
    width: 336px;
    height: $filter-box-height;
    padding-right: 40px;
    padding-left: 20px;
    margin: 0;

    & + span {
      position: absolute;
      top: calc(50% - #{$clear-icon-height} / 2);
      right: 23px;

      line-height: 0;

      svg {
        height: $clear-icon-height;
      }

      &.hide, &.hidden {
        display: none;

        & + .filter-icon {
          display: block;
        }
      }
    }
  }
}
