.multiline-field {
  ul {
    li {
      &:first-child label {
        display: flex;
      }

      input {
        margin-bottom: 10px;
      }
    }

    &:not(:empty) + .input-wrapper input {
      @include placeholder();
    }
  }

  .input-wrapper {
    position: relative;

    padding-bottom: 8px;

    label {
      visibility: hidden;
      &:after {
        visibility: visible;
      }

      &.first-label {
        visibility: visible;
      }
    }

    &:nth-child(1) label {
      visibility: visible;
    }
  }

  // Action icons
  .input-actions {
    position: absolute;
    top: 8px;
    right: 0;

    button {
      width: auto;
      padding: 0;

      background: none;
      border: none;
      outline: none;
    }

    i {
      display: block;
      width: 18px;
      height: 18px;

      border: 2px solid $medium-blue;
      border-radius: 18px;

      &.add-action, &.delete-action {
        &:before {
          position: relative;
          top: 6px;
          left: 2px;

          display: block;
          width: 10px;
          height: 2px;

          content: '';

          background-color: $medium-blue;
        }
      }

      &.add-action {
        border-color: $orange;

        &:before {
          background-color: $orange;
        }

        &:after {
          position: absolute;
          top: 4px;
          left: 8px;

          display: block;
          width: 2px;
          height: 10px;

          content: '';

          background-color: $orange;
        }
      }
    }
  }
}
