.blankslate {
  padding: $blackslate-padding;

  color: $medium-blue;
  text-align: center;

  background-color: $white;
  border: 1px solid $medium-blue;
  border-radius: $border-radius;

  h1, h2, h3, h4, h5, h6 {
    margin: blackslate-margin 0 blackslate-margin 0;
  }

  p {
    margin-bottom: blackslate-margin;

    color: $medium-blue;
  }
}
