.lightbox-search {
  //display: none;

  background: rgba($medium-blue, 0.9);

  opacity: 1;

  @extend .modal-backdrop;
}

.lightbox-search__box {
  position: absolute;
  top: 30%;
  left: 50%;

  width: 90%;
  max-width: 600px;

  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.lightbox-search__input {
  width: 100%;
  padding: 10px 20px;

  color: $block-text-color;
  font-size: 2rem;

  outline: none;
  border: none;
}

.admin-popover {
  display: block !important;
  visibility: visible !important;
  width: 100%;
  background: #fff;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.autocomplete-value {
  padding: 10px 20px;
  border-top: 1px solid #eee;
  font-size: 1.8rem;
  color: $block-text-color;
  display: block;
  cursor: pointer;

  &:hover,
  .admin-active & {
    background-color: $table-editable-cell-color;
    color: $medium-blue;
  }
}
