.lightbox-search__box {
  position: absolute;
  left: 50%;

  width: 90%;
  max-width: 600px;

  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.lightbox-search__input {
  width: 100%;
  padding: 10px 20px;

  color: $block-text-color;
  font-size: 2rem;

  border: none;
  outline: none;
}

&.admin #admin .admin-autocomplete .admin-popover-container .admin-popover {
  width: 100%;
  padding: 0;
  margin-top: 5px;
  overflow: hidden;

  background: #ffffff;
  border: none;
  border-radius: 0;
  border-radius: 3px;

  ul li {
    height: auto;
    padding: 0;

    color: $block-text-color;
    line-height: inherit;

    cursor: pointer;

    &:hover, &.admin-active {
      color: $medium-blue;

      background-color: $table-editable-cell-color;
    }
  }
}

.autocomplete-value {
  display: block;
  padding: 10px 20px;

  font-size: 1.8rem;

  border-top: 1px solid #eeeeee;
}
