.modal-container {
  &.mod-prompt {
    .modal-content {
      width: $modal-prompt-width;
      max-height: $modal-prompt-max-height;
      min-height: $modal-prompt-min-height;

      .modal-header {
        height: modal-prompt-header-height;
        padding: 20px $header-padding;
      }

      .modal-body {
        max-height: $modal-prompt-body-max-height;
        min-height: $modal-prompt-body-min-height;

        .pompt-message {
          padding: $modal-prompt-text-padding-y 0;
        }
      }

      .modal-footer {
        // calculate the button height + 2 border top and bottom and the space below the button for the max height
        height: calc(24px +  #{$button-height} + 2 * #{$button-border-width});
        padding: 0 $header-padding 24px $header-padding;

        background-color: $pure-white;
        border-top: 0;
      }
    }
  }
}
