
.modal-container {
  &.prompt {
    .modal-content {
      width: 375px;
      max-height: 300px;
      min-height: 215px;

      header.modal-header {
        height: 80px;
        padding: 20px 40px;

        font-weight: bold;
      }

      .modal-body {
        max-height: 100px;
        min-height: 80px;
        padding: 0 40px;

        .pompt-message {
          padding: $modal-prompt-text-padding-y 0;
        }
      }

      footer.modal-footer {
        height: calc(24px +  #{$button-height} + 2 * #{$button-border-width});
        padding: 0 40px 24px 40px;

        background-color: $pure-white;
        border-top: 0;
      }
    }
  }

  &.prompt-confirmation {
    .modal-content {
      header.modal-header {
        background-color: $yellow;
      }
    }
  }

  &.prompt-warning {
    .modal-content {
      header.modal-header {
        background-color: $red;
      }
    }
  }
}
