$orange: #f58020;
$white: #ffffff;
$light-gray: #f5f6f7;
$light-blue: #2b4b72;
$dark-blue: #1c2e44;
$black: #1d1f21;

.bg-orange {
  background-color: $orange;
}

.bg-white {
  background-color: $white;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-light-blue {
  background-color: $light-blue;
}

.bg-dark-blue {
  background-color: $dark-blue;
}

.bg-black {
  background-color: $black;
}

$red: #f44336;
$yellow: #ffc200;
$green: #4caf50;
$blue: #1194f6;

.bg-red {
  background-color: $red;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-green {
  background-color: $green;
}

.bg-blue {
  background-color: $blue;
}
