$coveo-white: #ffffff;
$coveo-orange: #f58020;
$coveo-black: #1d1f21;
$coveo-light-gray: #f5f6f7;
$coveo-light-blue: #2b4b72;
$coveo-dark-blue: #1c2e44;

.coveo-bg-white {
  background-color: $coveo-white;
}

.coveo-bg-orange {
  background-color: $coveo-orange;
}

.coveo-bg-black {
  background-color: $coveo-red;
}

.coveo-bg-light-gray {
  background-color: $coveo-red;
}

.coveo-bg-light-blue {
  background-color: $coveo-red;
}

.coveo-bg-dark-blue {
  background-color: $coveo-red;
}

$coveo-red: #f44336;
$coveo-yellow: #ffc200;
$coveo-green: #4caf50;
$coveo-blue: #1194f6;

.coveo-bg-red {
  background-color: $coveo-red;
}

.coveo-bg-yellow {
  background-color: $coveo-yellow;
}

.coveo-bg-green {
  background-color: $coveo-green;
}

.coveo-bg-blue {
  background-color: $coveo-blue;
}
