.coveo-flex-form {
  flex-flow: row wrap;

  display: flex;
  margin-top: -10px;
  margin-left: -10px;

  .coveo-slide-toggle-label.boxed {
    flex: auto;

    width: 0;
    margin-top: 10px;
    margin-left: 10px;

    &:empty {
      height: 0;
      padding: 0;
      margin-top: 0;

      border: 0;
    }
  }
}
